* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.grid-item {
    border: 2px solid black;
}

/*media query-------------------------------------------------*/

@media only screen and (max-width: 1200px) {
  body {
    background-color: green;
  }

  .grid-container {
      grid-template-columns: auto auto auto;
  }
}

@media only screen and (max-width: 900px) {
  body {
    background-color: blue;
  }
  .grid-container {
      grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  .grid-container {
      grid-template-columns: auto;
  }
}