* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

.grid-item {
    border: 2px solid black;
}