* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.grid-item {
    border: 2px solid black;
    position: relative;
    height: 200px;
}

.number {
    height: 25px;
    width: 25px;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    z-index: 1;
}

.project {
    width: 95%;
    height: 90%;
    border: 2px solid blue;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);   
}

/*media query-------------------------------------------------*/

@media only screen and (max-width: 1200px) {
  .grid-container {
      grid-template-columns: auto auto auto;
  }
}

@media only screen and (max-width: 900px) {
  .grid-container {
      grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 600px) {
  .grid-container {
      grid-template-columns: auto;
  }
}